@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './variable';
@import './mixins';

body {
	font-family: $font-family;
}

.grid-template-details {
	// grid-template-columns: 100px 200px;
	// grid-template-rows: 100px 150px 200px;
	// grid-template-columns: 100px auto 200px;
	// grid-template-rows: 100px 150px auto;
	grid-template-columns: 1fr 2fr;
	// grid-template-rows: 1fr 1fr 1fr;
	grid-template-rows: repeat(3, 1fr);
}

.grid-template-short {
	// grid-template: 100px 150px 200px/ 100px 200px;
	// grid-template: 100px 150px auto/ 100px auto 200px;
	// grid-template: 1fr 1fr 1fr / repeat(12, 1fr);
	grid-template: 50px auto 50px / repeat(12, 1fr);
	// grid-template: repeat(3, 1fr) / repeat(12,1fr);
}

.grid-gap-details {
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}

.grid-gap-short {
	grid-gap: 5px;
}

.grid-areas {
	grid-template-areas:
		'a a a a a a a a a a a a'
		'b b c c c c d d d d e e '
		'f f f f f f f f f f f f ';
}

.grid-auto-rows {
	grid-auto-rows: 1fr;
}

.grid-auto-fit {
	grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
	grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}

.grid-justify-align {
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: end;
}

.grid-gallery {
	.vertical {
		// grid-row: auto/span 2;
		grid-row: span 2;
	}
	.horizontal {
		grid-column: auto/span 2;
	}
	.big {
		grid-row: auto/span 2;
		grid-column: auto/span 2;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.grid-auto-flow {
	grid-auto-flow: dense;
}

.grid {
	height: 100vh;
	display: grid;
	@extend .grid-template-short;
	@extend .grid-gap-short;
	@extend .grid-areas;
}

.item {
	background-color: $bg-color;
	color: $font-color;
	font-weight: $font-weight;
	text-align: center;
	padding: 10px 0;
}

.one {
	// grid-column-start: 1;
	// grid-column-end: 3;
	// grid-column: 1/3;
	// grid-column: 3/-1;
	// grid-column: 1/ span 2;
	grid-area: a;
}
.two {
	// grid-row: 1/-1;
	grid-area: b;
}
.three {
	// grid-row: 1/3;
	grid-area: c;
}
.four {
	grid-area: d;
}
.five {
	grid-area: e;
}
.six {
	// grid-column-start: 1;
	// grid-column-end: 3;
	// grid-column: 1/3;
	// grid-column: 2/-1;
	// grid-column: 1/ span 2;
	grid-area: f;
}
