@mixin border($width, $color) {
	border: $width solid $color;
}

@mixin transform($property) {
	-webkit-transform: $property;
	-ms-transform: $property;
	transform: $property;
}

@mixin theme-change($theme, $light-bg, $dark-bg) {
	@if $theme == 'light' {
		background-color: $light-bg;
	} @else {
		background-color: $dark-bg;
	}
}
